﻿<!-- nav -->
<nav class="navbar navbar-expand navbar-light bg-light" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="navbar-brand" href="#">
            <img src="https://i.imgur.com/hPQpLfS.png" alt="" height="30" width="100">
        </a>
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/create-receipt" *ngIf="currentUser.role=='orderer'">Lieferschein erfassen</a>
        <a class="nav-item nav-link" routerLink="/create-invoice" *ngIf="currentUser.role=='orderer'">Rechnung erfassen</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>