<h2>Neuen Lieferschein erfassen</h2>
<form [formGroup]="receiptForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label>Bestellnummer</label>
        <input type="text" formControlName="ordernr" class="form-control"
               [ngClass]="{ 'is-invalid': f.ordernr.dirty &&  f.ordernr.errors }" />
        <div *ngIf="f.ordernr.dirty && f.ordernr.errors" class="invalid-feedback">
            <div *ngIf="f.ordernr.errors.required">Bestellnummer ist ein Pflichtfeld</div>
        </div>
    </div>

    <div class="form-group">
        <label>Datum</label>
        <input type="date" formControlName="date" class="form-control"
               [ngClass]="{ 'is-invalid': f.date.dirty &&  f.date.errors }" />
        <div *ngIf="f.date.dirty && f.date.errors" class="invalid-feedback">
            <div *ngIf="f.date.errors.required">Datum muss ausgewählt sein</div>
        </div>
    </div>

    <div class="form-group">
        <label>Betrag</label>
        <input type="text" formControlName="amount" class="form-control"
               [ngClass]="{ 'is-invalid': f.amount.dirty && f.amount.errors }" />
        <div *ngIf="f.amount.dirty && f.amount.errors" class="invalid-feedback">
            <div *ngIf="f.amount.errors.required">Betrag muss befüllt sein</div>
        </div>
    </div>

    <div class="form-group">
        <label>Anmerkungen</label>
        <input type="text" formControlName="annotation" class="form-control"/>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Erfassen
        </button>
        <a routerLink="/" class="btn btn-link">Abbrechen</a>
    </div>

</form>