﻿<div>
    <img src="https://i.imgur.com/hPQpLfS.png" width="500" height="150" class="img-fluid"/>
</div>
<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" formControlName="firstname" class="form-control"
               [ngClass]="{ 'is-invalid': f.firstname.dirty &&  f.firstname.errors }" />
        <div *ngIf="f.firstname.dirty && f.firstname.errors" class="invalid-feedback">
            <div *ngIf="f.firstname.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" formControlName="lastname" class="form-control"
               [ngClass]="{ 'is-invalid': f.lastname.dirty &&  f.lastname.errors }" />
        <div *ngIf="f.lastname.dirty && f.lastname.errors" class="invalid-feedback">
            <div *ngIf="f.lastname.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" formControlName="username" class="form-control"
               [ngClass]="{ 'is-invalid': f.username.dirty && f.username.errors }" />
        <div *ngIf="f.username.dirty && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
            <div *ngIf="f.username.invalid && !f.username.errors.required">Username is already taken.</div>
        </div>
        <div *ngIf="f.username.pending" class="valid-feedback d-block">Checking Username...</div>


    </div>

    <div class="form-group">
        <label>Role</label>
        <input type="text" formControlName="role" class="form-control"
               [ngClass]="{ 'is-invalid': f.role.dirty && f.role.errors }" />
        <div *ngIf=" f.role.dirty && f.role.errors" class="invalid-feedback">
            <div *ngIf="f.role.errors.required">Role is required</div>
        </div>
    </div>


    <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': f.password.dirty && f.password.errors }" />
        <div *ngIf="f.password.dirty && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
